.top_banner_hidden {display: none;}
.store-icon::before {
    display: none
}
#hero-slider-progress {
    top: 25px;
}
#hero-slider-progress svg:nth-child(1) {
    display: none;
}
.icon {
    width: 2em;
    height: 2em;
}
.hero-slider-next {
    right: -60px !important;
}
.hero-slider-prev {
    left: -60px !important;
}
.slider-icon {
    width: 2.5rem;
    height: 2.5rem;
}